body {
  background: #bbd2c5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #bbd2c5,
    #99afbc,
    #797e99
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #bbd2c5,
    #99afbc,
    #797e99
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1rem;
  text-align: center;
  position: relative;

  text-align: center;
}

.row {
  margin: 6.25rem;
}
h5 {
  color: #000080;
}

.card {
  background-color: transparent;
  display: inline-block;
  width: 37.5rem;
}

.logo {
  animation: backInDown;
  animation-duration: 2s;
}

/*MEDIA QUERIES*/
@media only screen and (max-width:800px) and (min-width:799px){
  .card{
    width: 30rem;
  }
}

@media only screen and (max-width: 768px) and (min-width: 767px) and (orientation: portrait) {
  .row,
  .col-sm {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .row {
    display: block;
  }
  .logo {
    margin-bottom: 2rem;
  }
}



@media only screen and (max-width: 480px) and (orientation: portrait) {
  .container-sm,
  .row,
  .col-sm {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .card {
    width: 25rem;
  }
  #backButton {
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 414px) and (orientation: portrait) {
  .card {
    width: 22rem;
  }
  .logo {
    width: 14.375rem;
  }
}

@media only screen and (max-width: 375px) and (orientation: portrait) {
  .card {
    width: 18rem;
  }
}
