body,
html {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  height: auto;
}

a {
  color: white;
  font-size: 1.2rem;
}

a:hover {
  text-decoration: none;
  color: #82caff;
}

.navbar-dark .navbar-nav .nav-link {
  color: white !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #82caff !important;
}

.bg-dark {
  background-color: #17272b !important;
}

#back {
  cursor: pointer;
  padding: 0.9375rem 2.5rem;
  background-color: #17272b;
  color: white;
  border-radius: 1.3rem;
}

#back:hover {
  color: #82caff;
}
#backButton {
  float: right;
  margin-bottom: 3.25rem;
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 960px) and (orientation: landscape) {
  /* .navbar {
    margin-left: 3rem;
  } */
  .navbar-dark .navbar-nav .nav-link {
    font-size: 14px;
  }
  .text-box {
    top: 5%;
  }
  #back{
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 667px) and (orientation: landscape) {
 #back  {
    padding: 0.8rem 1.8rem;
    border-radius: 1.1rem;
    margin-right: 1.4rem;
  }
}

@media only screen and (max-width: 568px) and (orientation: landscape) {
  .text-box {
    top: 10%;
  }
  .heading_main {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 480px) and (orientation: portrait) {
  .text-box {
    top: 30%;
  }
  .heading_main {
    font-size: 2.5rem;
  }
  .heading_sub {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 460px) and (orientation: portrait) {
  .heading_main {
    font-size: 1.7rem;
  }
  .heading_sub {
    font-size: 0.7rem;
  }
}

